  <div id="myModalNote" class="reveal-modal small" data-reveal>
 <%= form_for @note, :html => {:id => "noteForm"}, url: notes_path, :method => :post do |f|%>
    <%= f.label :note  %>
    <%= f.text_field :comment, class: "form-control", placeholder: "Tap here to leave a note!" %>
    <br>
    <button id="cancelImg" type="button">Reset</button>
    <%= f.label :image  %>
    <%= f.file_field :image, class: "form-control" %>
    <div id="target">
    </div>
    <br>
    <a href="#"><%= f.submit :Submit, id: "noteSubmit",class: "button expand" %>
  <% end %>
  <div id="noCommentError"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
