<div id="myModalUp" class="reveal-modal small" data-reveal>
  <%= form_for @user, url: users_path, :method=> :post, html: {class: "signup"} do |f|%>

    <%= f.label :username  %>
    <%= f.text_field :username, class: "form-control", placeholder: "Choose a Username" %>
    <br>
    <%= f.label :email  %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter your Email" %>
    <br>
    <%= f.label :password  %>
    <%= f.password_field :password, class: "form-control", placeholder: "Create a Password" %>
    <br>
    <a href="#"><%= f.submit :SignUp, class: "button expand" %></a>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
