<%= render "shared/nav" %>
<%= render "shared/about" %>


<div class="user-info">
  <%= render "user_banner" %>
  <%= render "user_notes" %>
</div>

<%= render "shared/map" %>
<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

