<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Oxygen: 400, 300, 700' rel='stylesheet' type='text/css'>


  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

 <!-- Favicons -->
    <link rel="shortcut icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/favicon.ico" />
    <link rel="apple-touch-icon" href="http://webdesign.tutsplus.com/wp-content/themes/tuts/images/theme/webdesigntuts/apple-touch-icon.png" />

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places">
  </script>

</body>
</html>
